body {
    background-color: #A2EA83;
    text-align: center;
    margin-inline: center;
    margin-top: 45px;
    font-family: sans-serif;
    color: #31661B
}

img {
    border-radius: 50%;
    border: 6px solid;
    border-color: #31661B #476639 #56B32E;

    
    
}

h1 {
    margin-top: px;
}

button {
   background-color: #476639;
   color: white;
   padding: 13px;
   width: 290px;
   margin: 10px;
   border-width: 6px;
   border-style: hidden;
   transition: filter .2s;

}

 button:hover {
  filter: brightness(1.6);
  cursor: pointer;
}
